.basvuru-detay-header {
    display: flex;
    justify-content: center;
}

.basvuru-detay-header-buttonCol {
    margin-left: auto;
    max-width: 100px;
}

.basvuru-detay-submit-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.basvuru-detay-submit-buttons-submit {
    padding-left: 20px;
    padding-right: 20px;
}

#basvuruDetay-footerButtons {
    display: flex;
    justify-content: space-around;
}
