// // Variable overrides
$sidebar-dark-nav-link-hover-bg:   rgb(9, 105, 105);
$sidebar-dark-bg: rgb(9, 105, 105);
$sidebar-light-bg: rgb(9, 105, 105);
$sidebar-dark-color: rgb(9, 105, 105);
// $sidebar-dark-nav-link-hover-icon-color:  white